@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
body {
  font-family: 'Dancing Script', cursive;
}


.herobg {
  background-image: url('./assets/herobg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.spinner {
  
  animation: spin 10s linear infinite; /* Infinite spinning animation */
}
/* @import 'flowbite/dist/flowbite.css'; */

.textshadow{
  text-shadow:2px 2px 4px #000000, -2px -2px 4px #000000
}

.boxshadow{
  box-shadow:2px 2px 4px #000000, -2px -2px 4px #000000
}
.dropshadow{
 filter: drop-shadow(8px 8px 10px black);
}